<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easybuy.dao.order.OrderDetailMapper">
	<insert id="addNewOrderDetail" parameterType="OrderDetail">
		insert into order_detail (orderId,productId,quantity,cost) 
			values(#{orderDetail.orderId},#{orderDetail.productId},#{orderDetail.quantity},#{orderDetail.cost})
	</insert>
	
	<select id="listOrderDetailBySerialNumber" resultMap="orderDetailList">
		<!-- select * from order_detail 
		<where>
			<if test="serialNumber!=null and serialNumber!=''">
				orderId = #{serialNumber}
			</if>
		</where> -->
		select r.*,p.name,p.fileName from order_detail r,product p where r.productId= p.id
		 and r.orderId =#{serialNumber}
	</select>
	
	<resultMap type="OrderDetail" id="orderDetailList">
		<result property="id" column="id"/>
		<result property="orderId" column="orderId"/>
		<result property="productId" column="productId"/>
		<result property="quantity" column="quantity"/>
		<result property="cost" column="cost"/>
		<association property="product" javaType="Product">
			<id property="id" column="p_id"/>
			<result property="name" column="name"/>
			<result property="describe" column="describe"/>
			<result property="price" column="price"/>
			<result property="stock" column="stock"/>
			<result property="categoryLevel1Id" column="categoryLevel1Id"/>
			<result property="categoryLevel2Id" column="categoryLevel2Id"/>
			<result property="categoryLevel3Id" column="categoryLevel3Id"/>
			<result property="fileName" column="fileName"/>
		</association>
	</resultMap>
</mapper>
