<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easybuy.dao.news.NewsMapper">
	<resultMap type="News" id="listNews">
    <id property="id" column="id"/>
    <result property="title" column="title"/>
    <result property="title" column="title"/>
    <result property="createTime" column="createTime"/>
    <result property="type" column="type"/>
    </resultMap>
    
    
    <select id="getAllNews" resultType="News">
        select * from news 
        order by createTime DESC
    </select>
  
    <insert id="addNews" parameterType="News">
        insert into news (title,content,type)
        values(#{title},#{content},#{type})  
    </insert>
    
    <delete id="deleteNewsById">
        delete from news where id=#{id}
    </delete>
    
    <update id="updateNews" parameterType="News">
        update news set 
        title=#{title},
        content=#{content},
        type=#{type}
    </update>
    <select id="getNewsById" resultType="News">
        select * from news
        where id=#{id}
    
    </select>
</mapper>