<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.easybuy.dao.user.UserMapper">
    <!-- 登陆 -->
    <select id="getLogin" resultType="User">
        select * from user 
            where loginName=#{name}
                and password=#{password}
    </select>
	<select id="getUserById" resultType="User">
		select * from user
			where id =#{id}
	</select>	
	<!-- 增加用户 -->
    <insert id="addUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        insert into user 
        (loginName,userName,password,phone,sex,identityCode,email,type)
        values(#{loginName},#{userName},#{password},#{phone},#{sex},#{identityCode},#{email},#{type});
    </insert>
    <!-- 删除用户 -->
    <delete id="deleteUserByLoginName" >
        delete from user where loginName = #{loginName}
    </delete>
    <!-- 按类型查询用户 -->
    <select id="listUserByType" resultType="User">
        select * from user
        where type=#{type};    
    </select>
    <!-- 更改用户信息 -->
    <update id="updateUser">
        update user set loginName=#{loginName},
                        userName=#{userName},
                        password=#{password},
                        phone=#{phone},
                        sex=#{sex},
                        identityCode=#{identityCode},
                        email=#{email},
                        type=#{type}
    
    </update>
    <!-- 通过登录名查找用户 -->
    <select id="getUserByLoginName" resultType="User">       
     select * from user
        where loginName=#{loginName};     
    </select>
    <!-- 通过phone查找用户 -->
    <select id="getUserByPhone" resultType="User">       
     select * from user
        where phone=#{phone};     
    </select>
    <!-- 通过email查找用户 -->
    <select id="getUserByEmail" resultType="User">       
     select * from user
        where email=#{email};     
    </select>
    <select id="getListUser" resultType="User">
    	select * from user limit #{startIndex},#{pageSize}
    </select>
    <select id="getTotalCount" resultType="int">
    	select count(1) from user;
    </select>
    
    
</mapper>
